@using TPCTrainco.Umbraco.Extensions.Helpers
@inherits UmbracoTemplatePage
@{
    // Model.Content is the current page that we're on
    // AncestorsOrSelf is all of the ancestors this page has in the tree
    // (1) means: go up to level 1 and stop looking for more ancestors when you get there
    // First() gets the first ancestor found (the home page, on level 1)
    IPublishedContent siteSettings = Nodes.Instance.SiteSettings;
    var homePage = CurrentPage.AncestorsOrSelf(1).First();

    IPublishedContent searchSeminarNode = Nodes.Instance.SeminarSearch;

    // The menu items we want are all of the children of the homepage
    // We also check if "Hide in navigation" is on in the menu, we shouldn't show hidden items
    var menuItems = homePage.Children.Where("navigationTop == true");
}
<div id="authbar" ng-controller="AuthbarController as vm">
<div class="container">
  <div ng-if="!vm.isLoggedIn">
    <ul class="inline-list">
    <li>
      <a class="authbar-link" href="/dashboard/signup">Create an account</a>
    </li>
    <li>
      <a class="authbar-link" href="/dashboard/login">Log in</a>
    </li>
    <li>
        <a class="authbar-link" href="/search-seminars?cart=1" title=""><img ng-if="!vm.isCartOpened" src="/assets/images/icon-cart-tab.png" class="cart-img-cart ng-scope"> </a>
    </li>
  </ul>
  </div>
  <div ng-if="vm.isLoggedIn" ng-cloak>
    <ul class="inline-list">
        <li ng-cloak>
            Welcome, <strong>{{vm.user.firstName}} {{vm.user.lastName}}</strong>
        </li>
      <li>
        <a class="authbar-link" href="/dashboard/saved">My account</a>
      </li>
      <li>
        <a class="authbar-link" href="/logout" ng-click="vm.logout()">Logout</a>
      </li>
      <li>
          <a class="authbar-link" href="/search-seminars?cart=1" title=""><img ng-if="!vm.isCartOpened" src="/assets/images/icon-cart-tab.png" class="cart-img-cart ng-scope"> </a>
      </li>
    </ul>
  </div>

  </div>
</div>
<nav class="navbar navbar-default">
    <div class="container-fluid contain">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="logo">
                TCPTrainco
                <a class="navbar-brand" href="/"><img src="/assets/images/logo-trainco-1x.png" alt="TCPTrainco Logo" id="logo"/></a>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="@(searchSeminarNode.Url)" class="btn-reg" role="button">Register</a></li>

                @foreach (IPublishedContent item in menuItems.OrderBy("SortOrder"))
                {
                    if (item.DocumentTypeAlias == "SeminarMainOverview")
                    {
                        string navName = item.GetPropertyValue<string>("navigationTitle", item.Name);

                        <li class="dropdown">
                            <a href="@item.Url" class="dropdown-toggle regular-link nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@navName<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @foreach (IPublishedContent subItem in item.Children)
                                {
                                    string subNavName = subItem.GetPropertyValue<string>("navigationTitle", subItem.Name);

                                    <li><a href="@subItem.Url" class="nav-link regular-link">@subNavName</a></li>
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li><a href="@item.Url" class="nav-link regular-link">@(item.GetPropertyValue<string>("navigationTitle", item.Name))</a></li>
                    }
                }

                <li><a href="tel:@(siteSettings.GetPropertyValue<string>("phoneNumber"))" class="regular-link nav-link">@(siteSettings.GetPropertyValue<string>("phoneNumber"))</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
