@using TPCTrainco.Umbraco.Extensions.Helpers
@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    IEnumerable<IPublishedContent> userQuoteList = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("userQuotes");

    if (userQuoteList == null)
    {
        userQuoteList = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("userQuotesList");
    }

    string carouselClass = "";

    if (Model.DocumentTypeAlias == "OnSiteTraining" || Model.DocumentTypeAlias == "OnSiteItem" || Model.DocumentTypeAlias == "SeminarCategory")
    {
        carouselClass = " col-xs-12 col-md-6";
    }
    
}
<!-- Carousel -->
@if (userQuoteList != null && userQuoteList.Count() > 0)
{
    <div id="carousel-example-generic" class="carousel slide@(carouselClass)" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            @{
    int slideCount = 0;

    foreach (IPublishedContent slide in userQuoteList)
    {
        string classActive = slideCount == 0 ? " class=\"active\"" : "";

        <li data-target="#carousel-example-generic" data-slide-to="@slideCount" @(Html.Raw(classActive))></li>

        slideCount++;
    }
            }
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            @{
    slideCount = 0;

    foreach (IPublishedContent slide in userQuoteList)
    {
        string classActive = slideCount == 0 ? " active" : "";

        <div class="item@(Html.Raw(classActive))">
            <div class="carousel-caption">
                <p class="quote">@Html.Raw(StringUtilities.StripPTags(slide.GetPropertyValue<string>("quoteText")))</p>
                <p class="citation"><span>@(slide.GetPropertyValue<string>("quoteAuthor"))</span>, @(slide.GetPropertyValue<string>("quoteCompany"))</p>
            </div>
        </div>

        slideCount++;
    }
            }
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <img src="/assets/images/left-arrow.png" class="arrow-left" aria-hidden="true" />
            <span class="sr-only">Previous</span>
        </a>

        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <img src="/assets/images/right-arrow.png" class="arrow-right" aria-hidden="true" />
            <span class="sr-only">Next</span>
        </a>
    </div> <!-- end carousel -->
}