@model TPCTrainco.Umbraco.Extensions.Models.CheckoutCustomer
@{
    IPublishedContent currentNode = UmbracoContext.Current.PublishedContentRequest.PublishedContent;
}

@if (Request.QueryString["error"] != null && Request.QueryString.Get("error").Length > 0)
{
    <div class="alert alert-error">
        <strong>There was a problem processing the credit card. Please re-enter your credit card, verify the billing information and try again.</strong>
    </div>
}

<div class="container-fluid register-two gradient-bg">
    @using (Html.BeginUmbracoForm<TPCTrainco.Umbraco.Controllers.CheckoutCustomerSurfaceController>("HandleFormSubmit"))
    {
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <h2 class="col-xs-12">Company Information</h2>

                    <div class="form-group col-xs-12 col-sm-6 col-md-6">
                        @Html.TextBoxFor(p => p.FirstName, new { @class = "form-control", placeholder = "First Name (Authorizing Supervisor)" })
                        @Html.ValidationMessageFor(p => p.FirstName)
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-md-6">
                        @Html.TextBoxFor(p => p.LastName, new { @class = "form-control", placeholder = "Last Name (Authorizing Supervisor)" })
                        @Html.ValidationMessageFor(p => p.LastName)
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-md-6">
                        @Html.TextBoxFor(p => p.Company, new { @class = "form-control", placeholder = "Company Name" })
                        @Html.ValidationMessageFor(p => p.Company)
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-md-6">
                        @Html.TextBoxFor(p => p.Title, new { @class = "form-control", placeholder = "Title" })
                        @Html.ValidationMessageFor(p => p.Title)
                    </div>
                    <div class="form-group col-xs-12">
                        @Html.TextBoxFor(p => p.Address, new { @class = "form-control", placeholder = "Mailing Address" })
                        @Html.ValidationMessageFor(p => p.Address)
                    </div>
                    <div class="form-group col-xs-12">
                        @Html.TextBoxFor(p => p.Address2, new { @class = "form-control", placeholder = "Mailing Address line 2" })
                        @Html.ValidationMessageFor(p => p.Address2)
                    </div>
                    <!-- 4 -->
                    <div class="form-group col-xs-12 col-sm-6 col-md-4">
                        @Html.TextBoxFor(p => p.City, new { @class = "form-control", placeholder = "City" })
                        @Html.ValidationMessageFor(p => p.City)
                    </div>
                    <!-- 2 -->
                    <div class="form-group col-xs-12 col-sm-6 col-md-2">
                        @Html.DropDownListFor(p => p.State, TPCTrainco.Umbraco.Extensions.Objects.FormUtilities.GetStateList(), new { @class = "form-control" })
                        @Html.ValidationMessageFor(p => p.State)
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-md-4">
                        @Html.TextBoxFor(p => p.Zip, new { @class = "form-control", placeholder = "Postal Code" })
                        @Html.ValidationMessageFor(p => p.Zip)
                    </div>

                    <div class="form-group col-xs-12 col-sm-6 col-md-2">
                        @Html.DropDownListFor(p => p.Country, TPCTrainco.Umbraco.Extensions.Objects.FormUtilities.GetCountryList(), new { @class = "form-control" })
                        @Html.ValidationMessageFor(p => p.Country)
                    </div>

                    <div class="form-group col-xs-12 col-sm-6 col-md-4">
                        @Html.TextBoxFor(p => p.Phone, new { @class = "form-control", placeholder = "Phone Number" })
                        @Html.ValidationMessageFor(p => p.Phone)
                    </div>

                    <div class="form-group col-xs-12 col-sm-6 col-md-2">
                        @Html.TextBoxFor(p => p.PhoneExt, new { @class = "form-control", placeholder = "Phone Extension" })
                        @Html.ValidationMessageFor(p => p.PhoneExt)
                    </div>

                    <div class="form-group col-xs-12 col-sm-6">
                        @Html.TextBoxFor(p => p.Email, new { @class = "form-control", placeholder = "Email Address" })
                        @Html.ValidationMessageFor(p => p.Email)
                    </div>

                    <div class="form-group col-xs-12 col-sm-6">
                        @Html.DropDownListFor(p => p.HearAbout, TPCTrainco.Umbraco.Extensions.Objects.FormUtilities.HearAboutList(), new { @class = "form-control" })
                        @Html.ValidationMessageFor(p => p.HearAbout)
                    </div>

                    <div class="form-group promo-wrap col-xs-12 col-sm-6">
                        @Html.TextBoxFor(p => p.PromoCode, new { @class = "form-control", placeholder = "Promo code or description of mailer" })
                        @Html.ValidationMessageFor(p => p.PromoCode)
                        @Html.TextBoxFor(p => p.HearAboutOther, new { @class = "form-control", placeholder = "Brief description" })
                        @Html.ValidationMessageFor(p => p.HearAboutOther)
                    </div>

                    <div class="billing-opts-wrapper">
                        <div class="col-xs-12">
                            <h2>Billing Information</h2>
                            <input type="checkbox" name="supervisor-diff" id="supervisor-diff">
                            <label for="supervisor-diff">Is your billing person different than your authorizing supervisor? If yes, check this box.</label>
                            @Html.HiddenFor(p => p.BillingDifferent)
                        </div>

                        <!-- form fields that appear when checkbox is checked -->
                        <div class="hidden-different-check">
                            <div class="form-group col-xs-12 col-sm-6 col-md-6">
                                @Html.TextBoxFor(p => p.BillFirstName, new { @class = "form-control", placeholder = "First Name" })
                                @Html.ValidationMessageFor(p => p.BillFirstName)
                            </div>
                            <div class="form-group col-xs-12 col-sm-6 col-md-6">
                                @Html.TextBoxFor(p => p.BillLastName, new { @class = "form-control", placeholder = "Last Name" })
                                @Html.ValidationMessageFor(p => p.BillLastName)
                            </div>
                            <div class="form-group col-xs-12">
                                @Html.TextBoxFor(p => p.BillAddress, new { @class = "form-control", placeholder = "Mailing Address" })
                                @Html.ValidationMessageFor(p => p.BillAddress)
                            </div>
                            <div class="form-group col-xs-12">
                                @Html.TextBoxFor(p => p.BillAddress2, new { @class = "form-control", placeholder = "Mailing Address line 2" })
                                @Html.ValidationMessageFor(p => p.BillAddress2)
                            </div>
                            <!-- 4 -->
                            <div class="form-group col-xs-12 col-sm-6 col-md-4">
                                @Html.TextBoxFor(p => p.BillCity, new { @class = "form-control", placeholder = "City" })
                                @Html.ValidationMessageFor(p => p.BillCity)
                            </div>
                            <!-- 2 -->
                            <div class="form-group col-xs-12 col-sm-6 col-md-2">
                                @Html.DropDownListFor(p => p.BillState, TPCTrainco.Umbraco.Extensions.Objects.FormUtilities.GetStateList(), new { @class = "form-control" })
                                @Html.ValidationMessageFor(p => p.BillState)
                            </div>
                            <div class="form-group col-xs-12 col-sm-6 col-md-4">
                                @Html.TextBoxFor(p => p.BillZip, new { @class = "form-control", placeholder = "Postal Code" })
                                @Html.ValidationMessageFor(p => p.BillZip)
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-2">
                                @Html.DropDownListFor(p => p.BillCountry, TPCTrainco.Umbraco.Extensions.Objects.FormUtilities.GetCountryList(false), new { @class = "form-control" })
                                @Html.ValidationMessageFor(p => p.BillCountry)
                            </div>


                            <div class="form-group col-xs-12 col-sm-6 col-md-4">
                                @Html.TextBoxFor(p => p.BillPhone, new { @class = "form-control", placeholder = "Phone Number" })
                                @Html.ValidationMessageFor(p => p.BillPhone)
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-2">
                                @Html.TextBoxFor(p => p.BillPhoneExt, new { @class = "form-control", placeholder = "Phone Extension" })
                                @Html.ValidationMessageFor(p => p.BillPhoneExt)
                            </div>

                            <div class="form-group col-xs-12 col-sm-6">
                                @Html.TextBoxFor(p => p.BillEmail, new { @class = "form-control", placeholder = "Email Address" })
                                @Html.ValidationMessageFor(p => p.BillEmail)
                            </div>
                        </div>

                        <!-- end form fields that appear when checkbox is checked -->

                        <div class="form-group col-xs-12 col-sm-5">
                            @Html.DropDownListFor(p => p.PaymentType, TPCTrainco.Umbraco.Extensions.Objects.FormUtilities.PaymentTypeList(), new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => p.PaymentType)
                        </div>

                        <!-- start credit card info -->
                        <div class="cc-info">
                            <div class="form-group col-xs-12 col-sm-12">
                                @Html.TextBoxFor(p => p.CCName, new { @class = "form-control", placeholder = "Name on card" })
                                @Html.ValidationMessageFor(p => p.CCName)
                            </div>
                            <div class="form-group col-xs-12 col-sm-12">
                                @Html.TextBoxFor(p => p.CCNumber, new { @class = "form-control", placeholder = "Card number" })
                                @Html.ValidationMessageFor(p => p.CCNumber)
                            </div>
                            <div class="form-group col-xs-12 col-sm-6 col-md-3">
                                @Html.TextBoxFor(p => p.CCExpiration, new { @class = "form-control", placeholder = "Expiration: MM/YY" })
                                @Html.ValidationMessageFor(p => p.CCExpiration)
                            </div>
                            <div class="form-group col-xs-12 col-sm-6 col-md-3">
                                @Html.TextBoxFor(p => p.CVVCode, new { @class = "form-control", placeholder = "CVV" })
                                @Html.ValidationMessageFor(p => p.CVVCode)
                            </div>

                            <div class="cvv-info form-group col-xs-12 col-sm-6 col-md-3">
                                <p class="cvv-text">What's this?<span><img src="/images/cvv_visa.gif">Three-digit number on the back of your card. For AMEX users, please use the 4-digit code printed on the front of your card.</span></p>
                            </div>
                        </div>

                        @if (true == currentNode.HasValue("invoice"))
                        {
                            <div class="col-xs-12 invoice-info">
                                <p>@(currentNode.GetPropertyValue<string>("invoice"))</p>
                            </div>
                        }

                        <div class="invoice-info">
                            <div class="form-group col-xs-12">
                                @Html.TextBoxFor(p => p.PONumber, new { @class = "form-control", placeholder = "PO Number" })
                                @Html.ValidationMessageFor(p => p.PONumber)
                            </div>
                        </div>


                        <!-- end credit card info -->

                    </div>

                    <div class="card-submit-wrap col-xs-12">
                        <button type="submit" id="button-submit" class="btn btn-reg btn-blue-solid next-btn">Next</button>
                        <div class="spinner card-loader">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                        <p class="processing-msg"></p>
                    </div>


                </div>
            </div>

        </div>
    }
</div>
