@using TPCTrainco.Umbraco.Extensions.Helpers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;

    IPublishedContent siteSettings = Nodes.Instance.SiteSettings;
    IPublishedContent currentPage = Model.Content;

    // Redirect
    if (currentPage.GetPropertyValue("pageRedirect") != null && currentPage.GetPropertyValue("pageRedirect").ToString().Length > 0)
    {
        var redirectUrl = currentPage.GetPropertyValue<UrlPicker.Umbraco.Models.UrlPicker>("pageRedirect");

        if (false == string.IsNullOrEmpty(redirectUrl.Url))
        {
            Response.Redirect(redirectUrl.Url);
        }
    }

    string siteName = siteSettings.GetPropertyValue<string>("siteName");
    string htmlTitle = currentPage.GetPropertyValue<string>("htmlTitle", currentPage.Name);

    string phoneNumber = siteSettings.GetPropertyValue<string>("phoneNumber");

}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>@htmlTitle - @siteName</title>
    <meta name="description" content="@(currentPage.GetPropertyValue<string>("metaDescription", siteName))" />
    <meta name="keywords" content="@(currentPage.GetPropertyValue<string>("metaKeywords", currentPage.Name))" />
    <link rel="canonical" href="http://@(Request.Url.DnsSafeHost)/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@htmlTitle - @siteName" />
    <meta property="og:description" content="@(currentPage.GetPropertyValue<string>("metaDescription"))    />
    <meta property="og:url" content="http://www.XXXXX.com/" />
    <meta property="og:site_name" content="TPC Trainco" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="@(currentPage.GetPropertyValue<string>("metaDescription"))" />
    <meta name="twitter:title" content="TPC Trainco training" />
    <meta name="twitter:domain" content="TPC Trainco" />

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/assets/jquery-range-slider-css/jquery-ui.structure.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/jquery-range-slider-css/jquery-ui.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/jquery-range-slider-css/classic-min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"> -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="/css/scss/main.css">
</head>

<!--[if lt IE 9]>
    <body class="ie8 html" >
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="/assets/js/bower_components/Respond/dest/respond.min.js"></script>
<![endif]-->

<body class="gradient-bg">

    @Html.Partial("Navigation/Top")

    @RenderBody()

    @Html.Partial("Navigation/Bottom")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <!-- use modernizr generator for production -->
    <script type="text/javascript" src="/assets/js/vendor/modernizr-dev.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/bootstrap-carousel.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/bootstrap-collapse.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/bootstrap-transition.js"></script>

    <script type="text/javascript" src="/assets/js/vendor/bootstrap-dropdown.js"></script>

    <script type="text/javascript" src="/assets/js/vendor/bootstrap-tooltip.js"></script>

    <script type="text/javascript" src="/assets/js/vendor/bootstrap-popover.js"></script>

    <script type="text/javascript" src="/assets/js/vendor/jQDateRangeSlider-withRuler-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

    <script type="text/javascript" src="/assets/js/custom/MainSearchSelect.js"></script>


    <!-- Backbone app scripts -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js"></script>
    <script src="/assets/js/custom/cartApp/models/classModel.js"></script>
    <script src="/assets/js/custom/cartApp/collections/classCollection.js"></script>
    <script src="/assets/js/custom/cartApp/views/classView.js"></script>
    <script src="/assets/js/custom/cartApp/models/locationModel.js"></script>
    <script src="/assets/js/custom/cartApp/views/singleSeminarView.js"></script>
    <script src="/assets/js/custom/cartApp/models/scheduleModel.js"></script>
    <script src="/assets/js/custom/cartApp/models/cartItemModel.js"></script>
    <script src="/assets/js/custom/cartApp/views/scheduleView.js"></script>
    <script src="/assets/js/custom/cartApp/collections/scheduleCollection.js"></script>
    <script src="/assets/js/custom/cartApp/views/locationView.js"></script>
    <script src="/assets/js/custom/cartApp/views/cartItemView.js"></script>
    <script src="/assets/js/custom/cartApp/collections/locationCollection.js"></script>
    <script src="/assets/js/custom/cartApp/collections/scheduleCollection.js"></script>
    <script src="/assets/js/custom/cartApp/collections/cartCollection.js"></script>
    <script src="/assets/js/custom/cartApp/views/cartNotifyView.js"></script>

    <!-- end Backbone app scripts -->


    <script type="text/javascript" src="/assets/js/custom/HomePage.js"></script>
    <script type="text/javascript" src="/assets/js/custom/OnSiteForm.js"></script>
    <script type="text/javascript" src="/assets/js/custom/CountUp.js"></script>
    <script type="text/javascript" src="/assets/js/custom/Catalog.js"></script>
    <script type="text/javascript" src="/assets/js/custom/DatePicker.js"></script>
    <script type="text/javascript" src="/assets/js/custom/TPCapp.js"></script>

    <script type="text/javascript" src="/assets/js/custom/Register.js"></script>

    <script type="text/javascript">
        var temp;

        $(window).load(function () {
            temp = new TPCApp();
        });
    </script>

</body>
</html>
