@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";
}
<!-- Featured blog post -->
@if (CurrentPage.HasValue("featuredBlog"))
{
    <div class="container-fluid headline-section blog-main">
        <div class="container">
            <div class="jumbotron">
                @if (!String.IsNullOrEmpty(CurrentPage.featuredBlog.pageTitle))
                {
                    <h1>@CurrentPage.featuredBlog.pageTitle</h1>
                }
                else
                {
                    <h1>@CurrentPage.featuredBlog.name</h1>
                }
                <div class="post-author">
                    <p class="publish-info">
                        @if (CurrentPage.featuredBlog.HasValue("date"))
                        {
                            @CurrentPage.featuredBlog.date.ToString("M/dd/yy")
                        }

                        @if (CurrentPage.featuredBlog.HasValue("author"))
                        {
                            var author = CurrentPage.featuredBlog.author;

                            <span>by @author.name</span>


                            if (author.HasValue("image"))
                            {
                                <img src="@author.GetCropUrl("image", "Image")" class="author-img" alt="@author.name">
                            }
                        }
                    </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron js-jumbo featured-post">
            <div class="container">
                @if (!String.IsNullOrEmpty(CurrentPage.featuredBlog.summary))
                {
                    <p class="feature-snippet">
                        @CurrentPage.featuredBlog.summary
                    </p>
                }
                <a class="btn-reg btn-blue-hollow" href="@CurrentPage.featuredBlog.Url">Read More</a>
            </div>
        </div>
}

<div class="container blog-listings">
    <!-- blog list -->
    @foreach (var blogPost in CurrentPage.blogItems.Where("Visible").OrderBy("date desc"))
    {
        <div class="blog-listing">
            <h2 class="post-title">
                @if (!String.IsNullOrEmpty(blogPost.pageTitle))
                {
                    <a href="@blogPost.Url">@blogPost.pageTitle</a>
                }
                else
                {
                    <a href="@blogPost.Url">@blogPost.name</a>
                }
            </h2>
            @if (blogPost.HasValue("date") || blogPost.HasValue("author"))
            {
                <div class="post-author">
                    <p class="publish-info">
                        @if (blogPost.HasValue("date"))
                        {
                            <span>@blogPost.date.ToString("M/dd/yy")</span>
                        }
                        @if (blogPost.HasValue("author"))
                        {
                            <span>by @blogPost.author.name</span>
                        }
                    </p>
                    @if (blogPost.author.HasValue("image"))
                    {
                        <img src="@blogPost.author.GetCropUrl("image", "Image")" class="author-img" alt="@blogPost.author.name">
                    }
                </div>
            }
            @if (!String.IsNullOrEmpty(blogPost.summary))
            {
                <p class="post-snippet">
                    @blogPost.summary
                </p>
            }
            <a class="btn-reg btn-blue-solid" href="@blogPost.Url">Read More</a>
        </div>
    }
</div>