@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";

    IPublishedContent currentPage = Model.Content;
}
<div class="container-fluid headline-section">
    <div class="container">
        <div class="jumbotron">
            @if (!String.IsNullOrEmpty(CurrentPage.pageTitle))
            {
                <h1>@CurrentPage.pageTitle</h1>
            }
            else
            {
                <h1>@CurrentPage.name</h1>
            }
        </div>
    </div>
</div>
<div class="container-fluid gradient-bg main-content blog-post">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-wrap">
            
            @Html.Partial("Share/ShareModule", currentPage)

            @if (CurrentPage.HasValue("date") || CurrentPage.HasValue("author"))
            {
                <div class="post-author">
                    @if (CurrentPage.author.HasValue("image"))
                    {
                        <img src="@CurrentPage.author.GetCropUrl("image", "Image")" class="author-img" alt="@CurrentPage.author.name">
                    }
                    <p class="publish-info">
                        @if (CurrentPage.HasValue("date"))
                        {
                            @CurrentPage.date.ToString("M/dd/yy")
                        }
                        @if (CurrentPage.HasValue("author"))
                        {
                            <span>by @CurrentPage.author.name</span>
                        }
                    </p>
                </div>
            }
            @CurrentPage.mainContent

            <!-- Disqus -->
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES * * */
                        var disqus_shortname = 'tpctrainco';

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

            <!-- end Disqus -->
        </div>
    </div>
</div>