@using TPCTrainco.Umbraco.Extensions.Helpers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";

    IPublishedContent currentPage = Model.Content;

    string message = "";

    if (false == string.IsNullOrEmpty(Request.QueryString["form"]))
    {
        if (Request.QueryString.Get("form") == "success")
        {
            message = "<div class=\"alert alert-success\">Thank you for contacting us. We will respond to your inquiry within two business days.</div>";
        }
    }
}

<div class="container-fluid headline-section">
    <div class="row">
        <div class="jumbotron">
            <h1>@(currentPage.GetPropertyValue<string>("pageTitle", currentPage.Name))</h1>
        </div>
    </div>
</div>

<div class="container-fluid main-content contact gradient-bg">
    <div class="container">
        @Html.Raw(message)
        <div class="col-md-8 col-md-offset-2 text-wrap">
            <div class="page-content">
                @Html.Raw(currentPage.GetPropertyValue<string>("mainContent"))
            </div>
        </div>

        <div class="contact-list col-xs-12 col-md-8 col-md-offset-3">
            <div class="col-xs-12 col-sm-6">
                <h3>By Mail:</h3>
                <div class="contact-item">
                    <h4>Mailing Address:</h4>
                    @Html.Raw(StringUtilities.LineBreaksToParagraphs(currentPage.GetPropertyValue<string>("mailingAddress")))
                </div>
                <div class="contact-item">
                    <h4>Physical Address:</h4>
                    @Html.Raw(StringUtilities.LineBreaksToParagraphs(currentPage.GetPropertyValue<string>("physicalAddress")))
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <h3>By Phone:</h3>
                <div class="contact-item">
                    <h4>Customer Service:</h4>
                    @Html.Raw(StringUtilities.LineBreaksToParagraphs(currentPage.GetPropertyValue<string>("customerServiceNumber")))
                </div>
                <div class="contact-item">
                    <h4>Fax:</h4>
                    @Html.Raw(StringUtilities.LineBreaksToParagraphs(currentPage.GetPropertyValue<string>("faxNumber")))
                </div>
            </div>

            <div class="col-xs-12">
                <h3>By Email:</h3>
                <div class="contact-item">
                    @if (!String.IsNullOrEmpty(CurrentPage.customerServiceEmail))
                    {
                        <h4>Customer Service:</h4>
                        <p>
                            <a href="mailto:@CurrentPage.customerServiceEmail">@CurrentPage.customerServiceEmail</a>
                        </p>
                    }
                    @if (!String.IsNullOrEmpty(CurrentPage.onSiteTrainingEmail))
                    {
                        <h4>On-Site Training:</h4>
                        <p>
                            <a href="mailto:@CurrentPage.onSiteTrainingEmail">@CurrentPage.onSiteTrainingEmail</a>
                        </p>
                    }
                    @if (!String.IsNullOrEmpty(CurrentPage.testingEmail))
                    {
                        <h4>Testing:</h4>
                        <p>
                            <a href="mailto:@CurrentPage.testingEmail">@CurrentPage.testingEmail</a>
                        </p>
                    }
                    @if (!String.IsNullOrEmpty(CurrentPage.billingEmail))
                    {
                        <h4>Billing:</h4>
                        <p>
                            <a href="mailto:@CurrentPage.billingEmail">@CurrentPage.billingEmail</a>
                        </p>
                    }
                </div>
            </div>
        </div>

        <div class="form-wrap col-xs-12 col-md-6 col-md-offset-3">
            @CurrentPage.form
        </div>
    </div>
</div>