@using TPCTrainco.Umbraco.Extensions.Helpers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";

    IPublishedContent siteSettings = Nodes.Instance.SiteSettings;
    IPublishedContent currentPage = Model.Content;

    IPublishedContent onsitePromo = siteSettings.GetPropertyValue<IPublishedContent>("activePromo");
    IEnumerable<IPublishedContent> activeSeminarList = currentPage.GetPropertyValue<IEnumerable<IPublishedContent>>("activeSeminars");

}

@{
    TPCTrainco.Umbraco.Extensions.Objects.Seminars seminars = new TPCTrainco.Umbraco.Extensions.Objects.Seminars();

    List<TPCTrainco.Umbraco.Extensions.ViewModels.CourseCategory> courseCategoryList = seminars.GetCourseCategoryList();

    <select style="margin-top: 100px;">
        @foreach (TPCTrainco.Umbraco.Extensions.ViewModels.CourseCategory category in courseCategoryList.OrderBy(o => o.Title))
        {
            <optgroup value="0" label="@category.Title">
                @foreach (TPCTrainco.Umbraco.Extensions.ViewModels.Course course in category.Courses.Where(p => (p.TypeId == 3 || p.TypeId == 5) && p.CountryId == 0).OrderBy(o => o.Title))
                {
                    <option value="@course.Id">@course.Title</option>
                }
            </optgroup>
        }
    </select>
}

<div class="container-fluid intro-section">
    <div class="container">
        <div class="jumbotron">
            <h1>@(currentPage.GetPropertyValue<string>("welcomeHeadline"))</h1>
            @Html.Raw(currentPage.GetPropertyValue<string>("welcomeMessage"))
        </div>

        <div class="container-fluid intro-section search-page">
            <!-- <div class="container"> -->
            <div class="row">
                <div class="col-md-11 topic-circles">
                    <h3>Select one or more topics and choose your location</h3>
                    <ul>
                        <li class="seminar-topic">
                            <div class="overlay-contain" data-topic="all">
                                <div class="overlay"></div>
                                <img src="/assets/images/selectall-icon.jpg" alt="All Seminars" />
                            </div>
                            <p>Search All Seminars</p>
                        </li>
                        <li class="seminar-topic">
                            <div class="overlay-contain" data-topic="electrical">
                                <div class="overlay"></div>
                                <img src="/assets/images/electrical.jpg" alt="Mechanical + Industrial" />
                            </div>
                            <p>Electrical</p>
                        </li>
                        <li class="seminar-topic">
                            <div class="overlay-contain" data-topic="management">
                                <div class="overlay"></div>
                                <img src="/assets/images/plantmgmt-icon.jpg" alt="Mechanical + Industrial" />
                            </div>
                            <p>Plant Management</p>
                        </li>
                        <li class="seminar-topic">
                            <div class="overlay-contain" data-topic="hvac">
                                <div class="overlay"></div>
                                <img src="/assets/images/hvac-icon.jpg" alt="Mechanical + Industrial" />
                            </div>
                            <p>HVAC</p>
                        </li>
                        <li class="seminar-topic">
                            <div class="overlay-contain" data-topic="mechanical">
                                <div class="overlay"></div>
                                <img src="/assets/images/mechanical-icon.jpg" alt="Mechanical + Industrial" />
                            </div>
                            <p>Mechanical &amp; Industrial</p>
                        </li>

                    </ul>

                    <!-- search bar here -->
                    <!--                <form name="main-search" class="main-search-form">
                                            <input type="text" name="seminar-search" placeholder="Choose a Location">
                                        </form> -->
                    <select id="main-search" multiple style="width:100%" data-placeholder="Choose a City or Enter a Zip Code" class="populate" data-location="Silver City, NM">
                        <option value="Alabama">Alabama</option>
                        <option value="Alaska">Alaska</option>
                        <option value="Missouri">Missouri</option>
                        <option value="Louisiana">Louisiana</option>
                        <option value="Vermont">Vermont</option>
                    </select>

                    <!-- <input type="hidden" id="main-search" style="width:300px"/> -->
                    <!-- datepicker goes here -->
                    <h4 class="select-date-text">Select a date range</h4>

                    <div id="date-range-slider"></div>



                    <!-- end datepicker -->


                    <a href="javascript:void(0);" id="search-btn" class="btn-reg btn-white" role="button">Search</a>
                </div>
            </div>
            <!-- </div> -->
        </div>

    </div>
</div>

@Html.Partial("Promos/OnsitePromo", currentPage);

@{
    int seminarCount = 0;

    foreach (IPublishedContent section in activeSeminarList)
    {
        var displayOpposite = seminarCount % 2 == 0;

        @Html.Raw(RenderSeminar(section, !displayOpposite))

        seminarCount++;
    }
}

@Html.Partial("Quotes/UserQuotes", currentPage);


@helper RenderSeminar(IPublishedContent section, bool displayOpposite = false)
{
    string headline = section.GetPropertyValue<string>("trainingHeadline");
    string message = section.GetPropertyValue<string>("trainingDescription");
    IPublishedContent trainingImageIcon = section.GetPropertyValue<IPublishedContent>("trainingImageIcon");

    <div class="container-fluid@(displayOpposite ? " offwhite-section" : "")">
        <div class="container">
            <div class="row">
                <div class="col-sm-8@(!displayOpposite ? " col-sm-push-4" : "")">
                    <h2 class="callout-headline">@headline</h2>
                    @Html.Raw(message)
                    <p class="course-cost">4 days at $900 per person</p>
                    <!-- <button type="button" class="btn btn-default">Register</button> -->
                    <a href="#" class="btn-reg" role="button">Register</a>
                </div>
                <div class="col-sm-4@(!displayOpposite ? " col-sm-pull-8" : "")">
                    <img src="@trainingImageIcon.Url" class="img-responsive home-highlight-circle" alt="image">
                </div>
            </div>
        </div>
    </div>
}