@using TPCTrainco.Umbraco.Extensions.Helpers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";

    IPublishedContent siteSettings = Nodes.Instance.SiteSettings;
    IPublishedContent currentPage = Model.Content;

    IPublishedContent onsitePromo = siteSettings.GetPropertyValue<IPublishedContent>("activePromo");
    IEnumerable<IPublishedContent> activeSeminarList = currentPage.GetPropertyValue<IEnumerable<IPublishedContent>>("activeSeminars");

}

<div class="container-fluid intro-section">
    <!-- <div class="container"> -->
    <div class="jumbotron">
        <h1>@(currentPage.GetPropertyValue<string>("welcomeHeadline"))</h1>
        @Html.Raw(currentPage.GetPropertyValue<string>("welcomeMessage"))
    </div>

    @Html.Partial("SeminarSearch/HomeSearch");
    <!-- </div> -->
</div>


@Html.Partial("Promos/OnsitePromo", currentPage);

@{
    int seminarCount = 0;

    foreach (IPublishedContent section in activeSeminarList)
    {
        var displayOpposite = seminarCount % 2 == 0;

        @Html.Raw(RenderSeminar(section, !displayOpposite))

        seminarCount++;
    }
}

@Html.Partial("Quotes/UserQuotes", currentPage)


@helper RenderSeminar(IPublishedContent section, bool displayOpposite = false)
{
    string headline = section.GetPropertyValue<string>("trainingHeadline");
    string message = section.GetPropertyValue<string>("trainingDescription");
    IPublishedContent trainingImageIcon = section.GetPropertyValue<IPublishedContent>("trainingImageIcon");

    <div class="container-fluid img-with-text@(displayOpposite ? " offwhite-section" : "")">
        <div class="container">
            <div class="row">
                <div class="col-sm-8@(!displayOpposite ? " col-sm-push-4" : "")">
                    <h2 class="callout-headline">@headline</h2>
                    @Html.Raw(message)
                    <p class="course-cost">4 days at $900 per person</p>
                    <!-- <button type="button" class="btn btn-default">Register</button> -->
                    <a href="#" class="btn-reg" role="button">Register</a>
                </div>
                <div class="col-sm-4@(!displayOpposite ? " col-sm-pull-8" : "")">
                    <img src="@trainingImageIcon.Url" class="img-responsive home-highlight-circle" alt="image">
                </div>
            </div>
        </div>
    </div>
}