@using TPCTrainco.Umbraco.Extensions.Helpers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";

    IPublishedContent siteSettings = Nodes.Instance.SiteSettings;
    IPublishedContent currentPage = Model.Content;

    IPublishedContent onsitePromo = siteSettings.GetPropertyValue<IPublishedContent>("activePromo");
    IEnumerable<IPublishedContent> activeSeminarList = currentPage.GetPropertyValue<IEnumerable<IPublishedContent>>("activeSeminars");
    IEnumerable<IPublishedContent> userQuoteList = currentPage.GetPropertyValue<IEnumerable<IPublishedContent>>("userQuotes");
}

<div class="container-fluid intro-section">
    <div class="container">
        <div class="jumbotron">
            <h1>@(currentPage.GetPropertyValue<string>("welcomeHeadline"))</h1>
            @Html.Raw(currentPage.GetPropertyValue<string>("welcomeMessage"))
        </div>

        @* == Search Section == *@
        <div class="row">
            <div class="col-md-11 topic-circles">
                <h3>Select one or more topics and choose your location</h3>
                <ul>
                    <li class="seminar-topic">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/selectall-icon.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Search All Seminars</p>
                    </li>
                    <li class="seminar-topic">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/electrical.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Electrical</p>
                    </li>
                    <li class="seminar-topic">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/plantmgmt-icon.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Plant Management</p>
                    </li>
                    <li class="seminar-topic">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/hvac-icon.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>HVAC</p>
                    </li>
                    <li class="seminar-topic">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/mechanical-icon.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Mechanical &amp; Industrial</p>
                    </li>

                </ul>

                <!-- search bar here -->
                <form name="main-search" class="main-search-form">
                    <input type="text" name="seminar-search" placeholder="Choose a Location">
                </form>
                <a href="#" class="btn-reg btn-white" role="button">Search</a>
            </div>
        </div>

    </div>
</div>

@Html.Partial("Promos/OnsitePromo", currentPage);

@{
    int seminarCount = 0;

    foreach (IPublishedContent section in activeSeminarList)
    {
        var displayOpposite = seminarCount % 2 == 0;

        @Html.Raw(RenderSeminar(section, !displayOpposite))

        seminarCount++;
    }
}

<!-- Carousel -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        @{
            int slideCount = 0;

            foreach (IPublishedContent slide in userQuoteList)
            {
                string classActive = slideCount == 0 ? " class=\"active\"" : "";

                <li data-target="#carousel-example-generic" data-slide-to="@slideCount" @(Html.Raw(classActive))></li>

                slideCount++;
            }
        }
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @{
            slideCount = 0;

            foreach (IPublishedContent slide in userQuoteList)
            {
                string classActive = slideCount == 0 ? " active" : "";

                <div class="item@(Html.Raw(classActive))">
                    <div class="carousel-caption">
                        <p class="quote">@Html.Raw(slide.GetPropertyValue<string>("quoteText"))</p>
                        <p class="citation"><span>@(slide.GetPropertyValue<string>("quoteAuthor"))</span>, @(slide.GetPropertyValue<string>("quoteCompany"))</p>
                    </div>
                </div>

                slideCount++;
            }
        }
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <img src="/assets/images/left-arrow.png" class="arrow-left" aria-hidden="true" />
        <span class="sr-only">Previous</span>
    </a>

    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <img src="/assets/images/right-arrow.png" class="arrow-right" aria-hidden="true" />
        <span class="sr-only">Next</span>
    </a>
</div> <!-- end carousel -->
@helper RenderSeminar(IPublishedContent section, bool displayOpposite = false)
{
    string headline = section.GetPropertyValue<string>("trainingHeadline");
    string message = section.GetPropertyValue<string>("trainingDescription");
    IPublishedContent trainingImageIcon = section.GetPropertyValue<IPublishedContent>("trainingImageIcon");

    <div class="container-fluid@(displayOpposite ? " offwhite-section" : "")">
        <div class="container">
            <div class="row">
                <div class="col-sm-8@(!displayOpposite ? " col-sm-push-4" : "")">
                    <h2 class="callout-headline">@headline</h2>
                    @Html.Raw(message)
                    <p class="course-cost">4 days at $900 per person</p>
                    <!-- <button type="button" class="btn btn-default">Register</button> -->
                    <a href="#" class="btn-reg" role="button">Register</a>
                </div>
                <div class="col-sm-4@(!displayOpposite ? " col-sm-pull-8" : "")">
                    <img src="@trainingImageIcon.Url" class="img-responsive home-highlight-circle" alt="image">
                </div>
            </div>
        </div>
    </div>
}