@using TPCTrainco.Umbraco.Extensions.Helpers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";

    IPublishedContent siteSettings = Nodes.Instance.SiteSettings;
    IPublishedContent currentPage = Model.Content;

    IPublishedContent onsitePromo = siteSettings.GetPropertyValue<IPublishedContent>("activePromo");
    IEnumerable<IPublishedContent> activeSeminarList = currentPage.GetPropertyValue<IEnumerable<IPublishedContent>>("activeSeminars");
    IEnumerable<IPublishedContent> userQuoteList = currentPage.GetPropertyValue<IEnumerable<IPublishedContent>>("userQuotes");
    var seminarContainer = CurrentPage.AncestorOrSelf(2);
}

<div class="container-fluid headline-section onsite">
    <div class="row">
        <div class="jumbotron">
            <h1>@(currentPage.GetPropertyValue<string>("pageTitle", currentPage.Name))</h1>
        </div>
        <a href="#" class="btn-reg" role="button">Learn More</a>
    </div>
</div>
<div class="container-fluid gradient-bg main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-wrap">

                @Html.Partial("Share/ShareModule", currentPage)

                <div class="page-content">
                    @if (CurrentPage.HasValue("seminarOverview"))
                    {
                        <h2>Seminar Overview</h2>
                        @CurrentPage.seminarOverview
                    }
                    @if (!String.IsNullOrEmpty(CurrentPage.discussionTopicHeader))
                    {
                        <h2>@CurrentPage.discussionTopicHeader</h2>
                    }
                    @CurrentPage.discussionTopicCopy
                    @if (CurrentPage.includeCeu)
                    {
                        <div class="page-content">
                            <h2>@seminarContainer.ceuHeader</h2>
                            @seminarContainer.ceuCopy
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="caro-form-container">
    <div class="container">
        <div class="form-wrap pull-right col-xs-12 col-md-6">
            @CurrentPage.form
        </div>
        @Html.Partial("Quotes/UserQuotes", currentPage)
    </div>
</div> <!-- end container -->