@using TPCTrainco.Umbraco.Extensions.Helpers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";

    IPublishedContent siteSettings = Nodes.Instance.SiteSettings;
    IPublishedContent currentPage = Model.Content;

    IEnumerable<IPublishedContent> activeSeminarList = currentPage.GetPropertyValue<IEnumerable<IPublishedContent>>("activeSeminars");
    IEnumerable<IPublishedContent> userQuoteList = currentPage.GetPropertyValue<IEnumerable<IPublishedContent>>("userQuotes");

    IPublishedContent courseCatalog = Nodes.Instance.CourseCatalog;
    
    string subMenuText = currentPage.GetPropertyValue<string>("shortName", currentPage.Name);
    string subAnchorText = subMenuText.ToUrlSegment();
}

<div class="container-fluid headline-section campaign">
    <div class="container">
        <div class="jumbotron">
            <h1>@(currentPage.GetPropertyValue<string>("pageTitle", currentPage.Name))</h1>
        </div>
        <div class="button-wrapper col-xs-12 col-md-8 col-md-offset-2">
            <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-2">
                <a href="@(courseCatalog.Url)#@(subAnchorText)" class="btn-reg btn-first" role="button">Browse Courses</a>
            </div>
            <div class="col-xs-8 col-xs-offset-2 col-md-4 second-btn">
                <a href="#form-contact" class="btn-reg btn-white" role="button">Contact Us</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid main-content gradient-bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 text-wrap">

                <div class="page-content">
                    @Html.Raw(currentPage.GetPropertyValue<string>("mainContent"))
                </div>

                <a href="@(courseCatalog.Url)#@(subAnchorText)" class="btn-reg secondary-browse-btn" role="button">Browse Courses</a>

            </div>
        </div>
    </div>
</div>

<div class="caro-form-container">
    <div class="container">
        <div id="form-contact" class="form-wrap pull-right col-xs-12 col-md-6">
            @CurrentPage.form
        </div>
        @Html.Partial("Quotes/UserQuotes", currentPage)
    </div>
</div> <!-- end container -->
