@using TPCTrainco.Umbraco.Extensions.Helpers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";

    IPublishedContent currentPage = Model.Content;
    IPublishedContent siteSettings = Nodes.Instance.SiteSettings;
    IPublishedContent onsitePromo = siteSettings.GetPropertyValue<IPublishedContent>("activePromo");
    var dynamicPromo = Umbraco.Content(onsitePromo.Id);
    var seminarContainer = CurrentPage.AncestorOrSelf(2);
}

<div class="container-fluid headline-section seminar-detail">
    <div class="row">
        <div class="jumbotron">
            @if (!String.IsNullOrEmpty(CurrentPage.pageTitle))
            {
                <h1>@CurrentPage.pageTitle</h1>
            }
            else
            {
                <h1>@CurrentPage.name</h1>
            }

            @if (CurrentPage.HasValue("subTitle"))
            {
                <p>@CurrentPage.subTitle</p>
            }
        </div>
        @if (CurrentPage.onSiteQuote)
        {
            <div class="button-wrapper col-xs-12 col-md-8 col-md-offset-2">
                <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2">
                    <a href="#register-seminars" class="btn-reg btn-first" role="button">Check Dates and Locations</a>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-md-4 second-btn">
                    <a href="@dynamicPromo.promoLink.Url" class="btn-reg btn-white" role="button">Get an On-Site Quote</a>
                </div>
            </div>
        }
        else
        {
            <div class="button-wrapper col-xs-12">
                <div class="col-xs-12">
                    <a href="#register-seminars" class="btn-reg btn-first" role="button">Register Now</a>
                </div>
            </div>
        }
    </div>
</div>

@Html.Partial("Cart/MiniCart")

<div class="container-fluid gradient-bg main-content">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-wrap">

            @Html.Partial("Share/ShareModule", currentPage)

            @if (CurrentPage.HasValue("seminarOverview"))
            {
                <div class="page-content">
                    <h2>Seminar Overview</h2>
                    @CurrentPage.seminarOverview
                </div>
            }

            @if (CurrentPage.HasValue("day1Copy"))
            {
                <div class="page-content">
                    <h2>Discussion Topics</h2>
                    <div class="day-descriptions-wrap">
                        <div class="single-day-description">
                            @if (!String.IsNullOrEmpty(CurrentPage.day1Header))
                            {
                                <h3>Day One - @CurrentPage.day1Header</h3>
                            }
                            else
                            {
                                <h3>Day One</h3>
                            }
                            @CurrentPage.day1Copy
                        </div>
                        @if (CurrentPage.HasValue("day2Copy"))
                        {
                            <div class="single-day-description">
                                @if (!String.IsNullOrEmpty(CurrentPage.day2Header))
                                {
                                    <h3>Day Two - @CurrentPage.day2Header</h3>
                                }
                                else
                                {
                                    <h3>Day Two</h3>
                                }
                                @CurrentPage.day2Copy
                            </div>
                        }
                        @if (CurrentPage.HasValue("day3Copy"))
                        {
                            <div class="single-day-description">
                                @if (!String.IsNullOrEmpty(CurrentPage.day3Header))
                                {
                                    <h3>Day Three - @CurrentPage.day3Header</h3>
                                }
                                else
                                {
                                    <h3>Day Three</h3>
                                }
                                @CurrentPage.day3Copy
                            </div>
                        }
                        @if (CurrentPage.HasValue("day4Copy"))
                        {
                            <div class="single-day-description">
                                @if (!String.IsNullOrEmpty(CurrentPage.day4Header))
                                {
                                    <h3>Day Four - @CurrentPage.day4Header</h3>
                                }
                                else
                                {
                                    <h3>Day Four</h3>
                                }
                                @CurrentPage.day4Copy
                            </div>
                        }
                    </div>
                </div>
            }
            @if (CurrentPage.HasValue("certificationCopy"))
            {
                <div class="page-content">
                    <h2>@CurrentPage.certificationHeader</h2>
                    @CurrentPage.certificationCopy
                </div>
            }
            @if (CurrentPage.includeCeu)
            {
                <div class="page-content">
                    <h2>@seminarContainer.ceuHeader</h2>
                    @seminarContainer.ceuCopy
                </div>
            }
            @if (CurrentPage.includeAtmt)
            {
                <div class="page-content">
                    <h2>@seminarContainer.atmtHeader</h2>
                    @seminarContainer.atmtCopy
                </div>
            }
            @if (CurrentPage.blockPurchase)
            {
                <div class="page-content">
                    <h2>@seminarContainer.blockHeader</h2>
                    @seminarContainer.blockCopy
                </div>
            }
        </div>
    </div>
</div>

<!-- End Backbone app-->
@Html.Partial("SeminarSearch/SeminarDetailsSearch", Model.Content)

<div class="container-fluid results-container detail-page-app">
    <div class="container">
        <div class="row">
            <div class="empty-message"></div>
            <div class="spinner class-loader">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <ul class="results"></ul>
        </div>
    </div>
</div>

<!-- the red section -->
@if (CurrentPage.onSiteQuote)
{
    <div class="container-fluid onsite-section">
        <div class="left-skew">
            <div class="skewed-side">
                <div class="inner">
                    <h2 class="callout-headline">@dynamicPromo.promoHeadline</h2>
                    @dynamicPromo.promoText
                    <a href="@dynamicPromo.promoLink.Url" class="btn-reg btn-white" role="button">@dynamicPromo.promoButtonText</a>
                </div>
            </div>
        </div>
        @if (dynamicPromo.HasValue("promoImage"))
        {
            <div class="right-img">
                <img src="@dynamicPromo.promoImage.Url" alt="See our on-site programs">
            </div>
        }
    </div>
}