@using TPCTrainco.Umbraco.Extensions
@using TPCTrainco.Umbraco.Extensions.Helpers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";

    IPublishedContent currentPage = Model.Content;
    IPublishedContent siteSettings = Nodes.Instance.SiteSettings;
    IPublishedContent onsitePromo = siteSettings.GetPropertyValue<IPublishedContent>("activePromo");
    var dynamicPromo = Umbraco.Content(onsitePromo.Id);
    var seminarContainer = CurrentPage.AncestorOrSelf(2);
    int courseId = 0;
    COURS course = null;
    CourseFormat courseFormat = null;

    //if (currentPage.HasValue("courseLink"))
    //{
    //    courseId = currentPage.GetPropertyValue<int>("courseLink");

    //    course = TPCTrainco.Umbraco.Extensions.Objects.CacheObjects.GetCourseList().Where(p => p.CourseID == courseId).FirstOrDefault();

    //    if (course != null)
    //    {
    //        courseFormat = TPCTrainco.Umbraco.Extensions.Objects.CacheObjects.GetCourseFormatList().Where(p => p.CourseFormatID == course.CourseFormatID).FirstOrDefault();
    //    }
    //}


}

<nav class="navbar-lower affix-top" role="navigation" data-spy="affix" data-offset-top="0" id="navspy">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="#overview" class="page-scroll nav-link regular-link active">Seminar Overview</a></li>
            @if (false == string.IsNullOrWhiteSpace(CurrentPage.day1Header) || false == string.IsNullOrWhiteSpace(CurrentPage.day2Header) || false == string.IsNullOrWhiteSpace(CurrentPage.day3Header) || false == string.IsNullOrWhiteSpace(CurrentPage.day4Header))
            {
            <li><a href="#discussion" class="page-scroll nav-link regular-link">Discussion Topics</a></li>
            }
            @if (CurrentPage.HasValue("certificationCopy") || CurrentPage.includeCeu || CurrentPage.includeAtmt)
            {
                <li><a href="#certification" class="page-scroll nav-link regular-link">Certification</a></li>
            }
            @if (CurrentPage.blockPurchase)
            {
                <li><a href="#block-purchase" class="page-scroll regular-link nav-link">Block Purchasing</a></li>
            }
            <li><a href="#register-seminars" class="page-scroll regular-link nav-link">Dates and Locations</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid headline-section seminar-detail">
    <div class="row">
        <div class="jumbotron">
            @if (!String.IsNullOrEmpty(CurrentPage.pageTitle))
            {
                <h1>@CurrentPage.pageTitle</h1>
            }
            else
            {
                <h1>@CurrentPage.name</h1>
            }

            @if (CurrentPage.HasValue("subTitle"))
            {
                <p>@CurrentPage.subTitle</p>
            }
        </div>
        @if (CurrentPage.onSiteQuote)
        {
            <div class="button-wrapper">
                <ul class="list-inline">
                  <li>
                    <a href="#checkDates" class="btn-reg btn-first" role="button">Check Dates and Locations</a>
                  </li>
                  <li>
                    <a href="/on-site-training/#cf-container" class="btn-reg btn-white" role="button">Get an On-Site Quote</a>
                  </li>
                </ul>
            </div>
        }
        else
        {
            <div class="button-wrapper">
                <ul class="list-inline">
                  <li>
                    <a href="#register-seminars" class="btn-reg btn-first" role="button">Check Dates and Locations</a>
                  </li>
                  <li>
                    <a href="/on-site-training/#cf-container" class="btn-reg btn-white" role="button">Get an On-Site Quote</a>
                  </li>
                </ul>
            </div>
        }
    </div>
</div>

<!-- include the cart template -->
@*<div ng-include src="'/assets/js/ngapp/components/cart/cart.html'"></div>*@
<!-- end include the cart template -->
<div class="container-fluid gradient-bg main-content">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-wrap" id="overview">

            <div class="row" ng-controller="SeminarItemController as vm">
              <div class="col-md-12">
                <h2>Seminar Overview</h2>
                @CurrentPage.seminarOverview
              </div>
              @*<div class="col-md-2">
                <button class="btn-reg btn-blue-solid" ng-model="vm.savedBtn"
                  ng-click="vm.saveCourseToUser()" ng-show="vm.saveBtn">Save</button>
                <span ng-show="!vm.saveBtn"><strong>Saved!</strong><br /><a href="/dashboard/saved">View My Saved Seminars</a></span>
              </div>*@
            </div>
            @if (course != null && courseFormat != null)
            {
                string format = courseFormat.CourseFormatName.ToLower();

                <div class="row">
                    @if (format.IndexOf("both") >= 0)
                    {
                        format = "two days";
                    }

                    <h2>This seminar is just @String.Format("{0:C0}", course.CourseFee) for @(format).</h2>
                    }
                    else if (currentPage.HasValue("lengthPriceInfo"))
                    {
                    <h2>@(currentPage.GetPropertyValue<string>("lengthPriceInfo"))</h2>

                </div>
            }
            <!-- Column area -->
            <div class="row" id="discussion">
                @if (CurrentPage.HasValue("day1Copy"))
                {
                    <div class="col-xs-12 col-md-6">

                        @if (!String.IsNullOrEmpty(CurrentPage.day1Header))
                        {
                            <h2>Day One - @CurrentPage.day1Header</h2>
                        }
                        else
                        {
                            <h2>Day One</h2>
                        }

                        @CurrentPage.day1Copy
                    </div>
                }
                @if (CurrentPage.HasValue("day2Copy"))
                {
                    <div class="col-xs-12 col-md-6">
                        @if (!String.IsNullOrEmpty(CurrentPage.day2Header))
                        {
                            <h2>Day Two - @CurrentPage.day2Header</h2>
                        }
                        else
                        {
                            <h2>Day Two</h2>
                        }
                        @CurrentPage.day2Copy
                    </div>
                }

            </div>

            @if (CurrentPage.HasValue("day3Copy"))
            {
                <div class="row">
                    @if (CurrentPage.HasValue("day3Copy"))
                    {
                        <div class="col-xs-12 col-md-6">

                            @if (!String.IsNullOrEmpty(CurrentPage.day3Header))
                            {
                                <h2>Day Three - @CurrentPage.day3Header</h2>
                            }
                            else
                            {
                                <h2>Day Three</h2>
                            }

                            @CurrentPage.day3Copy
                        </div>
                    }
                    @if (CurrentPage.HasValue("day4Copy"))
                    {
                        <div class="col-xs-12 col-md-6">
                            @if (!String.IsNullOrEmpty(CurrentPage.day4Header))
                            {
                                <h2>Day Four - @CurrentPage.day4Header</h2>
                            }
                            else
                            {
                                <h2>Day Four</h2>
                            }
                            @CurrentPage.day4Copy
                        </div>
                    }

                </div>
            }

            @if (CurrentPage.HasValue("certificationCopy") || CurrentPage.includeCeu || CurrentPage.includeAtmt)
            {
                <!-- end column area -->
                <div class="row" id="certification">
                    @if (CurrentPage.HasValue("certificationCopy"))
                    {
                        <div class="row">
                            <h2>@CurrentPage.certificationHeader</h2>

                            @CurrentPage.certificationCopy
                        </div>
                    }
                    @if (CurrentPage.includeCeu)
                    {
                        <div class="row">
                            <h2>@seminarContainer.ceuHeader</h2>
                            @seminarContainer.ceuCopy
                        </div>
                    }
                    @if (CurrentPage.includeAtmt)
                    {

                        <div class="row">
                            <h2>@seminarContainer.atmtHeader</h2>
                            @seminarContainer.atmtCopy
                        </div>
                    }
                </div>
            }

            @if (CurrentPage.blockPurchase)
            {
                <div id="block-purchase" class="row">
                    <h2>@seminarContainer.blockHeader</h2>
                    @seminarContainer.blockCopy
                </div>
            }
        </div>
    </div>

</div>
<a id="checkDates" name="checkDates"></a>
@Html.Partial("SeminarSearch/SeminarDetailsSearch", Model.Content)

<div class="container-fluid results-container detail-page-app">
    <div class="container">
        <div class="row">
            <div class="empty-message"></div>
            <div class="spinner class-loader">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <ul class="results"></ul>
        </div>
    </div>
</div>

<!-- the red section -->
@if (CurrentPage.onSiteQuote)
{
    <div class="container-fluid onsite-section">
        <div class="left-skew">
            <div class="skewed-side">
                <div class="inner">
                    <h2 class="callout-headline">@dynamicPromo.promoHeadline</h2>
                    @dynamicPromo.promoText
                    <a href="@dynamicPromo.promoLink.Url" class="btn-reg btn-white" role="button">@dynamicPromo.promoButtonText</a>
                </div>
            </div>
        </div>
        @if (dynamicPromo.HasValue("promoImage"))
        {
            <div class="right-img">
                <img src="@dynamicPromo.promoImage.Url" alt="See our on-site programs">
            </div>
        }
    </div>
}
<script>
              $(function() {
                $('a[href*="#"]:not([href="#"])').click(function() {
                  if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                    if (target.length) {
                      $('html, body').animate({
                        scrollTop: target.offset().top+500
                      }, 1000);
                      return false;
                    }
                  }
                });
              });
</script>
