@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";
}
<div class="container-fluid headline-section">
    <div class="container">
        <div class="jumbotron">
            @if (!String.IsNullOrEmpty(CurrentPage.pageTitle))
            {
                <h1>@CurrentPage.pageTitle</h1>
            }
            else
            {
                <h1>@CurrentPage.name</h1>
            }
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 catalog-top">
            @CurrentPage.mainContent
            <ul class="col-md-12 text-center">
                @foreach (var category in CurrentPage.SeminarCategories)
                {
                    <li class="col-xs-6 col-md-3"><a href="#@category.name.Replace(" ", "-")" class="regular-link class-category">@category.name</a></li>
                }
            </ul>
        </div>
    </div>
</div>
<!-- Fyin: in this section, the items have additional attributes due to the sorting functionality. -->

<div class="container">
    @foreach (var seminarCategory in CurrentPage.SeminarCategories)
    {
        var pages = seminarCategory.Children;
        var allNodesWithTags = pages.Where("tags != \"\"");
        List<string> taglist = new List<string>();
        foreach (var node in allNodesWithTags)
        {
            taglist.AddRange(node.tags.ToString().Replace(" ", "-").Split(','));
        }
        taglist = taglist.OrderBy(q => q).ToList();
        
        <div class="col-xs-12 course-section">
            <div class="row">
                <div class="col-md-9 col-md-offset-1">
                    <h2 id="@seminarCategory.name.Replace(" ", "-")">@seminarCategory.name</h2>
                    @if (taglist.Count != 0)
                    {
                        <ul class="sort">
                            <li class="current col-xs-6 col-md-2">
                                <a href="#" class="elec-sort-category regular-link" data-category="All">All</a>
                            </li>
                            @foreach (string tag in taglist.Distinct())
                            {
                                <li class="col-xs-6 col-md-3">
                                    <a href="#" class="regular-link" data-category="@tag">@tag.Replace("-", " ")</a>
                                </li>
                            }
                        </ul>
                    }
                </div>
                <div class="col-md-9 col-md-offset-1">
                    @seminarCategory.summary
                </div>
                @if (seminarCategory.SeminarItems.Count() > 0)
                {
                    <ul class="col-xs-12">
                        @foreach (var seminar in seminarCategory.Children)
                        {
                            <li class="seminar-topic col-xs-6 col-md-4" data-type="all @foreach(var tag in seminar.tags.Replace(" ","-").Split(',')){<text>@tag </text>}">
                                <a href="@seminar.Url">
                                    @if (seminar.HasValue("image"))
                                    {
                                        <div class="overlay-contain">
                                            <div class="overlay"></div>
                                            <img src="@seminar.GetCropUrl("image", "Image")" alt="@seminar.name" />
                                        </div>
                                    }
                                    @if (!String.IsNullOrEmpty(seminar.pageTitle))
                                    {
                                        <p>@seminar.pageTitle</p>
                                    }
                                    else
                                    {
                                        <p>@seminar.name</p>
                                    }
                                </a>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    }
</div>