@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";
}

<div class="container-fluid headline-section">
    <div class="row">
        <div class="jumbotron">
            @if (!String.IsNullOrEmpty(CurrentPage.pageTitle))
            {
                <h1>@CurrentPage.pageTitle</h1>
            }
            else
            {
                <h1>@CurrentPage.name</h1>
            }
        </div>
    </div>
</div>

<div class="container-fluid main-content sitemap gradient-bg">
    <div class="container">
        <div class="row">
            @foreach (var page in CurrentPage.AncestorOrSelf(1).Children.Where("Visible"))
            {
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="sitemap-section">
                        <a href="@page.Url">
                            @if (!String.IsNullOrEmpty(Page.pageTitle))
                            {
                                <h2>@page.pageTitle</h2>
                            }
                            else
                            {
                                <h2>@page.name</h2>
                            }
                        </a>
                        @if (page.Children.Where("Visible").Count() > 0)
                        {
                            <ul style="margin-left:15px;">
                                @foreach (var subpage in page.Children.Where("Visible"))
                                {
                                    if (subpage.Children.Where("Visible").Count() > 0)
                                    {
                                        <li>
                                            <a href="@subpage.Url">
                                                @if (!String.IsNullOrEmpty(subpage.pageTitle))
                                                {
                                                    @subpage.pageTitle
                                                }
                                                else
                                                {
                                                    @subpage.name
                                                }
                                            </a>
                                            <ul style="margin-left:15px;">
                                                @foreach (var lvl3 in subpage.Children.Where("Visible"))
                                                {
                                                    <li>
                                                        <a href="@subpage.Url">
                                                            @if (!String.IsNullOrEmpty(lvl3.pageTitle))
                                                            {
                                                                @lvl3.pageTitle
                                                            }
                                                            else
                                                            {
                                                                @lvl3.name
                                                            }
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="@subpage.Url">
                                                @if (!String.IsNullOrEmpty(subpage.pageTitle))
                                                {
                                                    @subpage.pageTitle
                                                }
                                                else
                                                {
                                                    @subpage.name
                                                }
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>