@using Umbraco.Web
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";
    IPublishedContent currentPage = Model.Content;
}


<div class="container-fluid headline-section">
    <div class="row">
        <div class="jumbotron">
            @if (!String.IsNullOrEmpty(CurrentPage.pageTitle))
            {
                <h1>@CurrentPage.pageTitle</h1>
            }
            else
            {
                <h1>@CurrentPage.name</h1>
            }
        </div>
    </div>
</div>

<div class="container-fluid main-content sitemap gradient-bg">
    <div class="container">
        <div class="row">
            @foreach (IPublishedContent page in currentPage.AncestorOrSelf(1).Children.Where(p => p.IsVisible() && false == p.GetPropertyValue<bool>("hideInSiteMap") && false == p.IsDocumentType("Sitemapxml")))
            {
                string pageTitle = page.GetPropertyValue<string>("pageTitle");

                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="sitemap-section">
                        <a href="@page.Url">
                            @if (!String.IsNullOrEmpty(pageTitle))
                            {
                                <h2>@pageTitle</h2>
                            }
                            else
                            {
                                <h2>@page.Name</h2>
                            }
                        </a>
                        @if (page.Children.Where(p => p.IsVisible() && false == p.GetPropertyValue<bool>("hideInSiteMap")).Count() > 0)
                        {
                            <ul style="margin-left:15px;">
                                @foreach (var subpage in page.Children.Where(p => p.IsVisible() && false == p.GetPropertyValue<bool>("hideInSiteMap")))
                                {
                                    string subpageTitle = subpage.GetPropertyValue<string>("pageTitle");

                                    if (subpage.Children.Where(p => p.IsVisible() && false == p.GetPropertyValue<bool>("hideInSiteMap")).Count() > 0)
                                    {
                                        <li>
                                            <a href="@subpage.Url">
                                                @if (!String.IsNullOrEmpty(subpageTitle))
                                                {
                                                    @subpageTitle
                                                }
                                                else
                                                {
                                                    @subpage.Name
                                                }
                                            </a>
                                            <ul style="margin-left:15px;">
                                                @foreach (var lvl3 in subpage.Children.Where(p => p.IsVisible() && false == p.GetPropertyValue<bool>("hideInSiteMap")))
                                                {
                                                    string subSubpageTitle = lvl3.GetPropertyValue<string>("pageTitle");

                                                    <li>
                                                        <a href="@subpage.Url">
                                                            @if (!String.IsNullOrEmpty(subSubpageTitle))
                                                            {
                                                                @subSubpageTitle
                                                            }
                                                            else
                                                            {
                                                                @lvl3.Name
                                                            }
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="@subpage.Url">
                                                @if (!String.IsNullOrEmpty(subpageTitle))
                                                {
                                                    @subpageTitle
                                                }
                                                else
                                                {
                                                    @subpage.Name
                                                }
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>